.circle-image {
  width: 10vw !important;
  height: 10vw;
  border: 2px solid #f34290;
}
.circle-image-btn {
  width: 10vw !important;
  height: 10vw;
  background-color: #1f7410;
  padding: 30%;
}

.btn-card {
  height: 30vw;
  width: 7vw;
  background-color: #63e6c3;
  border-radius: 5px;
  border: 1px solid #97e7ed;
  color: #fff;
  font-size: 25px;
  font-size-adjust: 20px;
}

.btn-new-card {
  color: #b1b1b1;
}
.plus {
  font-size: 25px;
}
.title-board {
  font-size: 18px;
  font-weight: bold;
  color: #b1b1b1;
  margin: 0;
}
