<section class="page-title" style="text-align: left;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <br>
        <h4 class="text-white">{{board?.boardName}}</h4>
      </div>

    </div>
    <div class="row">
      <div class="d-flex align-items-center align-content-center align-content-around">
        <div class="pl-3">
          <img class="rounded-circle circle-image-btn" src="{{ 'assets/images/plus.png' }}" alt="plus">
        </div>
        <div class="footer-board pl-1" *ngFor="let collaborator of board?.collaborators">
          <img class="rounded-circle circle-image" src="{{imgApi}}{{collaborator.uid}}.jpg" alt="user">
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-1"><button class="btn-card">+</button> </div>
      <div class="col-11">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let card of board.cards">
            <div class="card">
              <p class="title-board p-2 font-weight-bold">{{card.name}}-{{card.id}}</p>
              <P class="d-flex justify-content-center btn-new-card ">
                + Add new card
              </P>
              <!-- <div class="d-flex align-content-around">
                <div class="footer-board pl-2 pb-2" *ngFor="let collaborator of board.collaborators">
                  <img class="rounded-circle circle-image" src="{{imgApi}}{{collaborator.uid}}.jpg" alt="user">
                </div>
              </div> -->
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<pre class="text-white">{{board | json}}</pre>
