<section class="page-title" style="text-align: left;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <br>
        <h4 class="text-white">My Boards</h4>
      </div>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let board of boards$ | async">
        <div class="card">
          <p class="title-board pl-2">{{board.boardName}}</p>
          <br>
          <div class="footer-board pl-2 pb-2">
            <img class="rounded-circle circle-image"
              src="https://pickaface.net/gallery/avatar/unr_trello_181123_1600_c8zx.png" alt="user">
          </div>
        </div>
      </ng-template>

      <!-- <ng-template carouselSlide>
        <div class="card">
          <p class="title-board pl-2">Todo for today</p>
          <br>
          <div class="footer-board pl-2 pb-2">
            <img class="rounded-circle circle-image"
              src="https://pickaface.net/gallery/avatar/unr_trello_181123_1600_c8zx.png" alt="user">
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <p class="title-board pl-2">Todo for today</p>
          <br>
          <div class="footer-board pl-2 pb-2">
            <img class="rounded-circle circle-image"
              src="https://pickaface.net/gallery/avatar/unr_trello_181123_1600_c8zx.png" alt="user">
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <p class="title-board pl-2">Todo for today</p>
          <br>
          <div class="footer-board pl-2 pb-2">
            <img class="rounded-circle circle-image"
              src="https://pickaface.net/gallery/avatar/unr_trello_181123_1600_c8zx.png" alt="user">
          </div>
        </div>

      </ng-template> -->

    </owl-carousel-o>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <br>
        <h4 class="text-white">Others Boards</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2">
        <div class="card">
          <div class="card">
            <p class="title-board pl-2">Todo for today</p>
            <br>
            <div class="footer-board pl-2">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<pre>{{boards$ | async | json}}</pre>
